// 這個檔案會自動 compile 成 ./index.css
// TODO: 是否將 index.css 加入 .gitignore ?

// 客製化 bootstrap 的參數
@import 'custom_bootstrap.sass';

// Bootstrap library
@import 'bootstrap/scss/bootstrap';

// 全域樣式
body {
    padding: 10px;
}
